.grid-block, .main, .bodyTitle, .headTitle, .details, .comments li, .comment-form {
    background: #fff;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.headTitle{
    display:inline-block;
}

.bodyParsed{font-size: 8px}

body {
    background: #eee;
    color: #666666;
}
.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}
#spinner { height: 300px }
.headTitle {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}
.headTitle:before, .headTitle:after {
    content: "";
    display: table;
}
.headTitle:after { clear: both }
.headTitle.invisible { opacity: 0 }
.headTitle .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.headTitle .headTitle-content { float: left }
.headTitle .headTitle-content h3 {
    margin: 0;
    line-height: 1;
    font-size: 12px;
}
.headTitle .headTitle-content h3 a {
    display: inline-block;
    margin-right: 5px;
}
.headTitle .headTitle-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}
.headTitle .headTitle-content p { margin: 0 }
.headTitle .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}
.comments {
    list-style-type: none;
    margin: 0;
}
.comments li h4 {
    font-size: 16px;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;

}
.comments li h4 a { font-size: 12px }
.comments li p:last-child { margin-bottom: 0 }
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}