.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart {
  position: relative;
  
  left: 20
}

div#myTable_wrapper {
    position: left;
    width: 1150
}
