.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart {
  float: left;
}

div#myTable_wrapper {
    float : left;
    width: 500
}

div#summary {
  display: block;
}

.button {
  float : left ;
}
